<%= form_for @booking  do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="row">
     
        <div class="col-md-8 order-md-1">
          
                <div class="row">
                    <div class="col-md-12 mb-3">
                 

            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>

            </h4>
            <ul class="list-group mb-3 ">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        
                        <small class="text-muted">Your flight from <%=@selected_flight.origin_airport%> to <%=@selected_flight.destination_airport%> on <%=@selected_flight.departure_date%></small>
                    </div>
                    <span class="text-muted">$<%=(@selected_flight.cost)/100%></span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong id="amount">$<%=(@selected_flight.cost)/100%></strong>
                </li>
            </ul>
     
      


                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email </label>
                    
                    
                        <%= form.email_field :email , {:class => 'form-control'}%>
                    <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                </div>
            

                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">
                   

                <div class="form-check form-check-inline">
  <%= form.check_box :pmd, {:class => 'form-check-input'} %>
                        <label class="form-check-label" for="pmd">Use Receiver</label>
</div>
<div class="form-check form-check-inline">
<%= form.check_box :save_credit_card, {:class => 'form-check-input'} %>
                    <label class="form-check-label" for="save_credit_card">Save Card</label>
</div>

                </div>

                <hr class="mb-4">
                <%= form.hidden_field :payment_token %>
                <%= form.hidden_field :amount, :value => @selected_flight.cost %>
                <%= form.hidden_field :flight_id, :value => @selected_flight.id %> 
                <button class="btn btn-primary btn-lg btn-block" type="button" onclick="initializeSpreedly()">Continue to checkout</button>
            
        </div>
    </div>
<% end %>
<script>
  document.querySelector("input").focus();
  console.log(document.activeElement.tagName);
  // → INPUT
  document.querySelector("input").blur();
  console.log(document.activeElement.tagName);
  // → BODY
</script>
