<script src="https://core.spreedly.com/iframe/express-2.min.js"></script>
<script type="text/javascript">
function initializeSpreedly() {

    if (!document.getElementById('booking_email').value.match(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)){

   
        alert("Please enter valid email address to proceed.");
        return false;
    }
    SpreedlyExpress.init("<%=ENV["ACCESS_KEY"]%>", {
            "amount": document.getElementById('amount').innerHTML,
            "company_name": "Spreedly Airlines",
            "sidebar_top_description": "It ain't much, but its honest work",
            "sidebar_bottom_description": "Flight from <%=@selected_flight.origin_airport%> to <%=@selected_flight.destination_airport%> on <%=@selected_flight.departure_date%> ",
            "full_name": ""
        }, {
            "email": document.getElementById('booking_email').value
        });
    SpreedlyExpress.openView();


    SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {

  // Send requisite payment method info to backend
    var tokenField = document.getElementById("booking_payment_token");

    tokenField.setAttribute("value", token);

    var masterForm = document.getElementById('new_booking');

        masterForm.submit();
});
 
}
</script>
<p id="notice"><%= notice %></p>
<h2>Checkout</h2>



<%= render 'form', booking: @booking %>

