<p id="notice"><%= notice %></p>

<p>
  <strong>Flight:</strong>
  <%= @booking.flight_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @booking.amount %>
</p>

<p>
  <strong>Payment token:</strong>
  <%= @booking.payment_token %>
</p>

<p>
  <strong>Save credit card:</strong>
  <%= @booking.save_credit_card %>
</p>

<p>
  <strong>Pmd:</strong>
  <%= @booking.pmd %>
</p>

<p>
  <strong>Email:</strong>
  <%= @booking.email %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
