<!DOCTYPE html>
<html>
  <head>
    <title>SpreedlyAirlines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Spreedly Airlines </h1>
    <h4 class="mb-3">It ain't much, but its honest work</h4>
   
  </div>
  <!-- Jumbotron -->
</header>
    <%= yield %>
  </body>
</html>
